.custom-nav-link {
  position: relative;
  padding-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.custom-nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.custom-nav-link:hover::after {
  width: 100%;
}

.custom-nav-link:hover {
  color: white;
}

.custom-nav-link.active::after {
  width: 100%;
}

.custom-nav-link.active {
  color: white;
}
